@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

html {
    background: url('../imgs/int-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bitter';
}
.ml13 {
    font-weight: 900;
    font-size: 3.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5em;
  }
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }
.my-btn{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10cm;
}
  
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
  
      .ml13{
      font-size: 30px;
      letter-spacing: 0.3em;
    }
  
  }
  
  
  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {
    .ml13{
        font-size: 40px;
        letter-spacing: 0.3em;
      }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
      /* Make Navigation Toggle on Desktop Hover (use class: dropdown-hover) */
    .ml13{
      font-size: 4.5em;
    }
  }